.options-filter-setting {
  color: #1188ee;
  span {
    cursor: pointer;
  }
  .space {
    width: 1px;
    height: 13px;
    background: rgba(0, 0, 0, 0.25);
    display: inline-block;
    margin: 0px 12px;
  }
}
